langchain
python-dotenv
langchain_community
ipykernel
langchain_huggingface
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain-groq
streamlit